body {
  font-family: "Oswald", sans-serif;
  margin: 0%;
}
h1 {
  font-size: 50px;
}
.red {
  color: red;
}
.silver {
  color: grey;
}
.flexible-container {
  display: flex;
}
.width {
  width: 50%;
  padding-left: 5%;
}
.width img {
  width: 60%;
  padding-left: 80px;
  padding-top: 40px;
}
.link {
  text-decoration: none;
  background-image: linear-gradient(black, red);
  color: white;
  border-radius: 2px;
  font-weight: 500;
  padding-left: 0px;
}
.banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.heading{
  color: red;
}
}
.ul {
  color: grey;
  padding-right: 20px;
}
#second {
  padding-top: 90px;
}
.texts{
  text-decoration: none;
  background-image: linear-gradient(black, red);
  color: white;
  border-radius: 2px;
  font-weight: 500;
  padding-left: 0px;
  
}
.textp{
  text-decoration: none;
  background-image: linear-gradient(black, red);
  color: white;
  border-radius: 2px;
  font-weight: 500;
  padding-left: 0px;
  
}
.textv{
  text-decoration: none;
  background-image: linear-gradient(black, red);
  color: white;
  border-radius: 2px;
  font-weight: 500;
  padding-left: 0px;
  
}
.textz{
  text-decoration: none;
  background-image: linear-gradient(black, red);
  color: white;
  border-radius: 2px;
  font-weight: 500;
  padding-left: 0px;
  
}
.textd{
  text-decoration: none;
  background-image: linear-gradient(black, red);
  color: white;
  border-radius: 2px;
  font-weight: 500;
  padding-left: 0px;
  
}
.chill{
  padding-left: 5%;
  color: red;
}
